<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('includes/metas.ejs'); -%>
    <title>Home - Pixel3</title>
  </head>
  <body>
    <%- include('includes/indexHeader.ejs'); -%>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h2>Entre em contato</h2>
        <form id="formulario2" action="/" method="post">
          <div class="alert error-message" style="display: none"></div>
          <div class="alert success-message" style="display: none"></div>
          <label for="name">Nome completo</label>
          <input type="text" id="name" name="name" />
          <label for="email">E-mail</label>
          <input type="text" id="email" name="email" />
          <label for="telefone">Celular (Com DDD)</label>
          <input type="tel" id="telefone" name="telefone" />
          <label for="categoria">Categoria do site</label>
          <input type="text" id="categoria" name="categoria" />
          <label for="empresa">Nome da sua empresa</label>
          <input type="text" id="empresa" name="empresa" />
          <label for="message">Mensagem</label>
          <textarea id="message" name="message"></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>

    <div class="apresentacao" id="home">
      <div class="quadrado"></div>
      <div class="quadrado2"></div>
      <div class="apresentacaobg">
        <div class="contain-text">
          <div class="text">
            <h1>
              Criação de Sites
              <h1 class="h1-color">Profissionais</h1>
            </h1>

            <p class="notice-one">AGÊNCIA DE DESENVOLVIMENTO DE SITES</p>
            <p class="notice-two">UMA NOVIDADE QUE CHEGOU NO MERCADO</p>

            <p class="notice-three">
              Projetamos, desenvolvemos e gerenciamos sites de alto impacto que
              geram leads, vendem produtos e contam histórias
            </p>

            <button style="margin-top: 20px" class="open-modal pecaumorcamento">
              Peça um orçamento
            </button>
          </div>
        </div>
        <div class="clear"></div>
      </div>
  </div>
    <div class="clear"></div>
    <div class="como-funciona">
      <div class="container">
        <div class="comofunciona-titulo">
          <p style="font-weight: 600; color: #4317d4">Criação de sites</p>
          <h1 style="font-weight: 400">Como <strong>Funciona?</strong></h1>
        </div>
        <div class="comofunciona-content">
          <div class="box1">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-1.png.webp"
              alt=""
            />
            <div class="text-box">
              <p class="classtype">Escolha o tipo de site</p>
              <p>Site expresso ou site sob medida?</p>
              <b style="font-weight: 600">Qual site é o ideal para você?</b>
            </div>
          </div>
          <div class="box2">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-3.png.webp"
              alt=""
            />
            <div class="text-box">
              <p class="classtype">Fritas acompanha?</p>
              <p>Escolha os adicionais do seu site.</p>
              <b style="font-weight: 600"
                >Blog, Multi-idioma, Área de membros e mais!</b
              >
            </div>
          </div>
          <div class="box3">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-2.png.webp"
              alt=""
            />
            <div class="text-box">
              <p class="classtype">OK! Pronto para decolar</p>
              <p>Emissão de contrato, briefing e mãos na massa!</p>
              <b style="font-weight: 600"
                >Em poucos dias um site novinho em folha!</b
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="funcionalidades">
      <div class="funcionalidades-titulo">
        <p style="color: #4317d4; font-weight: 600">
          AGÊNCIA E CRIAÇÃO DE SITES
        </p>
        <h3 style="font-weight: normal; font-size: 40px; padding-top: 20px">
          <b style="font-weight: 700">FUNCIONALIDADES</b>
          DOS SITES
        </h3>
      </div>
      <div class="container">
        <div class="funcionalidades-content">
          <div class="grid-item">
            <img
              width="80px"
              src="./images/criação-sites-desenvolvimento-sites-2.svg"
              alt=""
            />
            <h4>Sites responsivos</h4>
            <p>
              Você sabia que o Google classifica negativamente websites que não
              funcionam bem em smartphones e tablets? Por isso, nos preocupamos
              em fazer sites com a tecnologia mais recente do mercado,
              <b>criando uma versão para cada dispositivo</b>: PC, Tablet e
              Smartphone
            </p>
          </div>
          <div class="grid-item">
            <img
              width="80px"
              src="./images/criação-sites-desenvolvimento-sites-3.svg"
              alt=""
            />
            <h4>Site Otimizado para o Google</h4>
            <p>
              Todos os sites são criados para que possam ter um melhor
              posicionamento no Google. Ao desenvolver o site, seguimos todas as
              diretrizes e critérios impostos pelo Google. Seu site já será
              entregue para você totalmente otimizado para os buscadores e você
              poderá ficar na 1ª página do Google em pouco tempo.
            </p>
          </div>
          <div class="grid-item">
            <img
              width="80px"
              src="./images/criação-sites-desenvolvimento-sites-4.svg"
              alt=""
            />
            <h4>Tecnologias de Ponta</h4>
            <p>
              Trabalhamos com duas tecnologias para montar sites: o WordPress,
              que é a plataforma usada por mais de 30% dos sites do mundo, e uma
              tecnologia israelense que é a plataforma usada por mais de 39
              milhões de sites no mundo.
            </p>
          </div>
          <div class="grid-item">
            <img
              width="80px"
              src="./images/criação-sites-desenvolvimento-sites-6.svg"
              alt=""
            />
            <h4>Ferramentas de venda</h4>
            <p>
              Ao fazer seu site você poderá ter funcionalidades exclusivas para
              <b>converter visitantes em clientes</b> como: Chat Online, PopUps
              Inteligentes, Integração com Email Marketing, Redes Sociais,
              Google Analytics, Integração com plataformas de pagamento digital
              e muitas outras ferramentas.
            </p>
          </div>
          <div class="grid-item">
            <img
              width="80px"
              src="./images/criação-sites-desenvolvimento-sites-1.svg"
              alt=""
            />
            <h4>Personalização Completa</h4>
            <p>
              Desenvolvemos todos os sites de forma artesanal,
              <b>layouts 100% exclusivos para a sua marca.</b> Uma aparência
              bonita e moderna é o que irá transmitir confiança a seus
              visitantes. Formas, cores, imagens, ícones. Tudo isso é pensado
              nos mínimos detalhes, especialmente para você.
            </p>
          </div>
          <div class="grid-item">
            <img
              width="80px"
              src="./images/criação-sites-desenvolvimento-sites-5.svg"
              alt=""
            />
            <h4>Fácil gerenciamento</h4>
            <p>
              Com um painel de controle amigável, a tarefa de
              <b>atualizar o conteúdo do seu site</b> ficou fácil. Qualquer
              pessoa sem conhecimento técnico conseguirá gerenciar o site. Você
              poderá adicionar textos, posts, fotos, vídeos, promoções e outros
              conteúdos com facilidade e autonomia.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-5.png.webp"
              alt=""
            />
            <h4>Cursos Online</h4>
            <p>
              Se você quer vender um <b>curso online</b> e ter uma plataforma
              preparada para isso, você está no lugar certo! Desenvolvemos
              plataformas de cursos online sob medida e com layout
              personalizado. Você poderá organizar suas aulas por módulos,
              aulas, lições, provas, fóruns e muito mais!
            </p>
          </div>
          <div class="grid-item">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-7.png.webp"
              alt=""
            />
            <h4>Área de Membros</h4>
            <p>
              A criação de websites com <b>área de membros</b> é uma das formas
              das empresas terem uma plataforma para compartilhar arquivos com
              outros membros. Seja um curso online ou mesmo arquivos
              empresariais, a área de membro é a solução perfeita para criar uma
              comunidade de pessoas e clientes.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-6.png.webp"
              alt=""
            />
            <h4>Portais e diretórios</h4>
            <p>
              Criar <b>sites de diretórios e portais</b> é uma de nossas
              especialidades. Caso necessite de um grande portal, temos todos os
              recursos necessários para desenvolver seu site. Além disso, também
              desenvolvemos sites de diretório como sites para imobiliária ou
              sites de busca de serviços ou produtos.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-8.png.webp"
              alt=""
            />
            <h4>Treinamento de uso do site</h4>
            <p>
              Com todos os recursos que o WordPress e outras plataformas tem a
              oferecer, às vezes pode ser complexo aprender e gerenciar o seu
              próprio site. Estamos aqui para ajudá-lo a se familiarizar com seu
              novo painel de administração e
              <b>ensiná-lo a alterar seu próprio layout.</b> Você também terá a
              possibilidade de criar novas páginas e landing pages, além de
              publicar posts no seu blog.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-9.png.webp"
              alt=""
            />
            <h4>Suporte contínuo</h4>
            <p>
              Através do <b>Plano de Cuidados com o Site</b>, estaremos a postos
              para te ajudar através de nosso canal exclusivo de suporte.
              Realizamos atualizações semanais em todas as ferramentas do seu
              site, para manter seu site seguro e livre de bugs. Você também
              terá direito de solicitar um conjunto de alterações todos os meses
              e nossa equipe irá cuidar de tudo.
            </p>
          </div>
          <div class="grid-item">
            <img
              src="./images/criacao-sites-desenvolvimento-sites-4.png.webp"
              alt=""
            />
            <h4>Integração de ferramentas</h4>
            <p>
              Sua empresa usa uma lista de ferramentas que devem funcionar em
              conjunto com o site, certo? Não se preocupe,
              <b
                >somos experts em fazer sites integrados com outras
                ferramentas!</b
              >
              Integramos com os principais CRM's, ERP's, sistemas e plataformas
              de pagamentos digitais, para automatizar seus processos e
              economizar tempo no fluxo de trabalho.
            </p>
          </div>
        </div>
        <div class="OrcamentoBtn">
          <button class="open-modal BtnOrcamento">PEÇA UM ORÇAMENTO</button>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="prices" id="contratar">
      <div class="container">
        <div class="prices-titulo">
          <p style="color: #4317d4; font-weight: 600">
            ORÇAMENTO PARA CRIAR SITES
          </p>
          <h3 style="font-weight: normal; font-size: 40px; padding-top: 20px">
            CONTRATE UM
            <b style="font-weight: 700">SITE PROFISSIONAL</b>
          </h3>
        </div>
        <div class="prices-content">
          <div class="price1">
            <div class="box-price1">
              <div class="box-price-titulo">
                <p>SITE FEITO COM MODELO DE SITE</p>
                <h2>SITE EXPRESSO</h2>
              </div>
              <p style="color: #00778b; padding: 20px 0">
                À PARTIR DE <b style="color: #00444f; font-size: 28px">R$585</b>
              </p>
              <p style="padding: 5px 0; color: #00ad76; font-size: 13px">
                HOSPEDAGEM E SUPORTE INCLUSAS
              </p>
              <ul>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Criação de site profissional baseado em modelos</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Design responsivo (desktop, tablet, celular)</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span
                    >Personalização total do site com cores, imagens e
                    texto</span
                  >
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Entregue com até 5 páginas*</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Formulários e botões para captar leads</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Integração com redes sociais</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Google friendly</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Treinamento para uso do site​</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Até 3 usuários administradores</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Conformidade com a LGPD</span>
                </li>
              </ul>
              <div class="OrcamentoBtn">
                <button class="open-modal BtnOrcamento">
                  PEÇA UM ORÇAMENTO
                </button>
              </div>
            </div>
          </div>
          <div class="price2">
            <div class="box-price2">
              <div class="box-price-titulo-2">
                <p>SITE FEITO DE FORMA ARTESANAL</p>
                <h2>SITE SOB MEDIDA</h2>
              </div>
              <p
                style="
                  color: #00444f;
                  font-size: 28px;
                  font-weight: 600;
                  padding: 20px 0;
                "
              >
                Sob orçamento
              </p>
              <p style="padding: 5px 0; color: #00ad76; font-size: 13px">
                PAGAMENTO ÚNICO
              </p>
              <ul>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Criação de site profissional sob medida</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Layout exclusivo sob medida</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Design Responsivo (desktop, tablet, celular)</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Desenvolvimento artesanal</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>One Page, Multipage ou E-commerce</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span
                    >Integrações customizadas de acordo com sua
                    necessidade</span
                  >
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Otimização SEO para Buscas no Google​</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Formulários e botões de para gerar leads​​</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Integração com redes sociais​</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Treinamento para uso do site​</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Usuários administradores ilimitados​</span>
                </li>
                <li class="list-li">
                  <i class="fa-sharp fa-solid fa-check"></i>
                  <span>Conformidade com a LGPD​</span>
                </li>
              </ul>
              <div class="OrcamentoBtn">
                <button class="open-modal BtnOrcamento">
                  PEÇA UM ORÇAMENTO
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="avaliacoes">
      <div class="container">
        <div class="avaliacoes-titulo">
          <p style="color: #4317d4; font-weight: 600">
            DESENVOLVIMENTO DE SITES
          </p>
          <h3 style="font-weight: normal; font-size: 40px; padding-top: 20px">
            CLIENTES E
            <b style="font-weight: 700">AVALIAÇÕES</b>
          </h3>
        </div>
        <div class="avaliacoes-content">
          <% for (let i = 0; i < clientes.length; i++) { %>
          <div class="avaliacoes-item">
            <a href="<%= clientes[i].url %>">
              <% let imagem = clientes[i].imagem.toString("base64") %> <% let
              extensao = clientes[i].imagem_extensao %> <% let tipo_mime = '' %>
              <% if (extensao === 'png') { tipo_mime = 'image/png' } %> <% if
              (extensao === 'svg') { tipo_mime = 'image/svg' } %> <% if
              (extensao === 'webp') { tipo_mime = 'image/webp' } %>
              <img
                width="200px"
                height="81px"
                src="data:<%= tipo_mime %>;base64,<%= imagem %>"
                alt=""
              />
            </a>
          </div>
          <% } %>
        </div>
        <div class="avaliacoes-slide-container">
          <div class="scrollEquipe">
            <div class="scroll-wraper">
              <% for (let i = 0; i < avaliacoes.length; i++) { %>
              <div class="avaliacoes-slide">
                <div class="usuario-slide">
                  <div class="wraper-title-author">
                    <h2><%= avaliacoes[i].usuario %></h2>
                    <a href="<%= avaliacoes[i].site %>"><p>Visitar site</p></a>
                  </div>
                </div>
                <div class="text-avaliacoes">
                  <span> <%= avaliacoes[i].textodaavaliacao %> </span>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <div class="slider-bullets">
            <span style="background-color: rgb(120, 120, 120)"></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <%- include('includes/footer.ejs'); -%>

    <div class="clear"></div>
    <%- include('includes/scripts.ejs'); -%>
  </body>
</html>
